<h2>On which hardware do you want to install Lakka?</h2>

<div class="row platforms">
	<div class="rpi col col-lg-3 col-md-4 col-sm-6"><a href="rpi">
		<img alt="Raspberry Pi" src="/images/rpi.jpg" />
		<h3>Raspberry Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="rpi2 col col-lg-3 col-md-4 col-sm-6"><a href="rpi2">
		<img alt="Raspberry Pi 2" src="/images/rpi2.jpg" />
		<h3>Raspberry Pi 2</h3>
		<p>Stable</p>
	</a></div>
	<div class="rpi3 col col-lg-3 col-md-4 col-sm-6"><a href="rpi2">
		<img alt="Raspberry Pi 3" src="/images/rpi3.jpg" />
		<h3>Raspberry Pi 3</h3>
		<p>Stable</p>
	</a></div>
	<div class="x86_64 col col-lg-3 col-md-4 col-sm-6"><a href="generic">
		<img alt="Generic" src="/images/nuc.jpg" />
		<h3>PC</h3>
		<p>Stable</p>
	</a></div>
	<div class="cuboxi col col-lg-3 col-md-4 col-sm-6"><a href="imx6.cuboxi">
		<img alt="CuBox-i" src="/images/cuboxi.png" />
		<h3>CuBox-i</h3>
		<p>Stable</p>
	</a></div>
	<div class="hummingboard col col-lg-3 col-md-4 col-sm-6"><a href="imx6.cuboxi">
		<img alt="HummingBoard" src="/images/hummingboard.jpg" />
		<h3>HummingBoard</h3>
		<p>Stable</p>
	</a></div>
	<div class="udoo col col-lg-3 col-md-4 col-sm-6"><a href="imx6.udoo">
		<img alt="UDOO" src="/images/udoo.jpg" />
		<h3>UDOO</h3>
		<p>Stable</p>
	</a></div>
	<div class="odroidc1 col col-lg-3 col-md-4 col-sm-6"><a href="odroidc1">
		<img alt="Odroid-C1" src="/images/odroidc1.jpg" />
		<h3>Odroid-C1</h3>
		<p>Stable</p>
	</a></div>
	<div class="odroidc1 col col-lg-3 col-md-4 col-sm-6"><a href="odroidc2">
		<img alt="Odroid-C2" src="/images/odroidc2.jpg" />
		<h3>Odroid-C2</h3>
		<p>Stable</p>
	</a></div>
	<div class="odroidxu3 col col-lg-3 col-md-4 col-sm-6"><a href="odroidxu3">
		<img alt="Odroid-XU3/4" src="/images/odroidxu4.jpg" />
		<h3>Odroid-XU3/4</h3>
		<p>Stable</p>
	</a></div>
	<div class="wtk col col-lg-3 col-md-4 col-sm-6"><a href="wtk">
		<img alt="WeTek Play" src="/images/wetekplay.jpg" />
		<h3>WeTek Play 1/2</h3>
		<p>Stable</p>
	</a></div>
	<div class="wtk col col-lg-3 col-md-4 col-sm-6"><a href="wtkcore">
		<img alt="WeTek Core" src="/images/wetekcore.jpg" />
		<h3>WeTek Core</h3>
		<p>Stable</p>
	</a></div>
	<div class="wtk col col-lg-3 col-md-4 col-sm-6"><a href="wtkhub">
		<img alt="WeTek Hub" src="/images/wetekhub.jpg" />
		<h3>WeTek Hub</h3>
		<p>Stable</p>
	</a></div>
	<div class="bpi col col-lg-3 col-md-4 col-sm-6"><a href="bpi">
		<img alt="Banana Pi" src="/images/bananapi.jpg" />
		<h3>Banana Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb col col-lg-3 col-md-4 col-sm-6"><a href="a10">
		<img alt="Cubieboard" src="/images/cubie1.jpg" />
		<h3>Cubieboard</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb2 col col-lg-3 col-md-4 col-sm-6"><a href="a20">
		<img alt="Cubieboard 2" src="/images/cubie2.jpg" />
		<h3>Cubieboard 2</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-4 col-sm-6"><a href="a20">
		<img alt="Cubietruck" src="/images/cubie3.png" />
		<h3>Cubietruck</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-4 col-sm-6"><a href="opi">
		<img alt="Orange Pi" src="/images/opi.jpg" />
		<h3>Orange Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-4 col-sm-6"><a href="s805">
		<img alt="S805 Boxes" src="/images/s805.jpg" />
		<h3>S805 Boxes</h3>
		<p>Stable</p>
	</a></div>
</div>
