<h2>Installing Lakka to the drive</h2>

<h3>Downloading Windows image flasher utility</h3>

<p>On Windows, you need a graphical tool to flash Lakka to your SD Card or USB drive.</p>

<p>This tool is called Etcher, and it is free.</p>

<%= render 'partials/dl-button',
      :url => 'https://etcher.io/',
      :detail => 'for Windows ~ 82MB',
      :what => 'Etcher' %>

<h3>Flash the image</h3>

<p>Run Etcher.</p>

<img alt="Etcher" style="width: 100%; max-width: 840px; margin: 15px 0;" src="/images/etcher.gif" />

<p>Select the Lakka image and select the drive, and hit the Flash button.</p>
