<h2>On which hardware do you want to install Lakka?</h2>

<ul class="platforms clearer">
	<li class="rpi"><a href="rpi">
		<img alt="Raspberry Pi" src="/images/rpi.jpg" />
		<h3>Raspberry Pi</h3>
		<p>Stable</p>
	</a></li>
	<li class="x86_64"><a href="generic">
		<img alt="Generic" src="/images/nuc.jpg" />
		<h3>PC</h3>
		<p>Stable</p>
	</a></li>
	<li class="cuboxi"><a href="imx6">
		<img alt="CuBox-i" src="/images/cuboxi.png" />
		<h3>CuBox-i</h3>
		<p>Stable</p>
	</a></li>
	<li class="hummingboard"><a href="imx6">
		<img alt="HummingBoard" src="/images/hummingboard.jpg" />
		<h3>HummingBoard</h3>
		<p>Stable</p>
	</a></li>
	<li class="odroidc1"><a href="odroidc1">
		<img alt="Odroid-C1" src="/images/odroidc1.jpg" />
		<h3>Odroid-C1</h3>
		<p>Work in progress</p>
	</a></li>
	<li class="odroidxu3"><a href="odroidxu3">
		<img alt="Odroid-XU3/4" src="/images/odroidxu4.jpg" />
		<h3>Odroid-XU3/4</h3>
		<p>Work in progress</p>
	</a></li>
	<li class="rpi2"><a href="rpi2">
		<img alt="Raspberry Pi 2" src="/images/rpi2.jpg" />
		<h3>Raspberry Pi 2</h3>
		<p>Stable</p>
	</a></li>
	<li class="wtk"><a href="wtk">
		<img alt="WeTek Play" src="/images/wetekplay.jpg" />
		<h3>WeTek Play</h3>
		<p>Work in progress</p>
	</a></li>
	<li class="bpi"><a href="bpi">
		<img alt="Banana Pi" src="/images/bananapi.jpg" />
		<h3>Banana Pi</h3>
		<p>Stable</p>
	</a></li>
	<li class="cb"><a href="a10">
		<img alt="Cubieboard" src="/images/cubie1.jpg" />
		<h3>Cubieboard</h3>
		<p>Stable</p>
	</a></li>
	<li class="cb2"><a href="a20">
		<img alt="Cubieboard 2" src="/images/cubie2.jpg" />
		<h3>Cubieboard 2</h3>
		<p>Stable</p>
	</a></li>
	<li class="cb3"><a href="a20">
		<img alt="Cubietruck" src="/images/cubie3.png" />
		<h3>Cubietruck</h3>
		<p>Stable</p>
	</a></li>
</ul>
