<h2>On which hardware do you want to install Lakka?</h2>

<div class="row platforms">
	<div class="rpi col col-lg-3 col-md-3 col-sm-3"><a href="rpi">
		<img alt="Raspberry Pi 0" src="/images/rpi0.jpg" />
		<h3>Raspberry Pi 0</h3>
		<p>Stable</p>
	</a></div>
	<div class="rpi col col-lg-3 col-md-3 col-sm-3"><a href="rpi">
		<img alt="Raspberry Pi" src="/images/rpi.jpg" />
		<h3>Raspberry Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="rpi2 col col-lg-3 col-md-3 col-sm-3"><a href="rpi2">
		<img alt="Raspberry Pi 2" src="/images/rpi2.jpg" />
		<h3>Raspberry Pi 2</h3>
		<p>Stable</p>
	</a></div>
	<div class="rpi3 col col-lg-3 col-md-3 col-sm-3"><a href="rpi2">
		<img alt="Raspberry Pi 3" src="/images/rpi3.jpg" />
		<h3>Raspberry Pi 3</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="x86_64 col col-lg-3 col-md-3 col-sm-3"><a href="generic">
		<img alt="Generic PC" src="/images/nuc.jpg" />
		<h3>Generic PC</h3>
		<p>Stable</p>
	</a></div>
	<div class="cuboxi col col-lg-3 col-md-3 col-sm-3"><a href="imx6.cuboxi">
		<img alt="i.MX6 CuBox-i" src="/images/cuboxi.png" />
		<h3>i.MX6 CuBox-i</h3>
		<p>Stable</p>
	</a></div>
	<div class="hummingboard col col-lg-3 col-md-3 col-sm-3"><a href="imx6.cuboxi">
		<img alt="Allwinner HummingBoard" src="/images/hummingboard.jpg" />
		<h3>HummingBoard</h3>
		<p>Stable</p>
	</a></div>
	<div class="udoo col col-lg-3 col-md-3 col-sm-3"><a href="imx6.udoo">
		<img alt="i.MX6 UDOO" src="/images/udoo.jpg" />
		<h3>i.MX6 UDOO</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="odroidc1 col col-lg-3 col-md-3 col-sm-3"><a href="odroidc1">
		<img alt="Hardkernel Odroid-C1" src="/images/odroidc1.jpg" />
		<h3>Hardkernel Odroid-C1</h3>
		<p>Stable</p>
	</a></div>
	<div class="odroidc1 col col-lg-3 col-md-3 col-sm-3"><a href="odroidc2">
		<img alt="Hardkernel Odroid-C2" src="/images/odroidc2.jpg" />
		<h3>Hardkernel Odroid-C2</h3>
		<p>Stable</p>
	</a></div>
	<div class="odroidxu3 col col-lg-3 col-md-3 col-sm-3"><a href="odroidxu3">
		<img alt="Hardkernel Odroid-XU3/4" src="/images/odroidxu4.jpg" />
		<h3>Odroid-XU3/4</h3>
		<p>Stable</p>
	</a></div>
	<div class="wtk col col-lg-3 col-md-3 col-sm-3"><a href="wtk">
		<img alt="WeTek Play" src="/images/wetekplay.jpg" />
		<h3>WeTek Play 1/2</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="wtk col col-lg-3 col-md-3 col-sm-3"><a href="wtkcore">
		<img alt="WeTek Core" src="/images/wetekcore.jpg" />
		<h3>WeTek Core</h3>
		<p>Stable</p>
	</a></div>
	<div class="wtk col col-lg-3 col-md-3 col-sm-3"><a href="wtkhub">
		<img alt="WeTek Hub" src="/images/wetekhub.jpg" />
		<h3>WeTek Hub</h3>
		<p>Stable</p>
	</a></div>
	<div class="bpi col col-lg-3 col-md-3 col-sm-3"><a href="allwinner">
		<img alt="Allwinner Banana Pi" src="/images/bananapi.jpg" />
		<h3>Allwinner Banana Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb col col-lg-3 col-md-3 col-sm-3"><a href="allwinner">
		<img alt="Allwinner Cubieboard" src="/images/cubie1.jpg" />
		<h3>Allwinner Cubieboard</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="cb2 col col-lg-3 col-md-3 col-sm-3"><a href="allwinner">
		<img alt="Allwinner Cubieboard 2" src="/images/cubie2.jpg" />
		<h3>Allwinner Cubieboard 2</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="allwinner">
		<img alt="Allwinner Cubietruck" src="/images/cubie3.png" />
		<h3>Allwinner Cubietruck</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="allwinner">
		<img alt="Allwinner Orange Pi" src="/images/opi.jpg" />
		<h3>Allwinner Orange Pi</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="s805">
		<img alt="Amlogic S805 Boxes" src="/images/s805.jpg" />
		<h3>Amlogic S805 Boxes</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="S8X2">
		<img alt="Amlogic S802 Boxes" src="/images/s802.jpg" />
		<h3>Amlogic S802 Boxes</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="S8X2">
		<img alt="Amlogic S812 Boxes" src="/images/S812.jpg" />
		<h3>Amlogic S812 Boxes</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="s905">
		<img alt="Amlogic S905 Boxes" src="/images/s905.jpg" />
		<h3>Amlogic S905 Boxes</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="s912">
		<img alt="Amlogic S912 Boxes" src="/images/s912.jpg" />
		<h3>Amlogic S912 Boxes</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="tkb">
		<img alt="Asus Tinker Board" src="/images/tkb.jpg" />
		<h3>Asus Tinker Board</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="miqi">
		<img alt="MQmaker MiQi" src="/images/miqi.jpg" />
		<h3>MQmaker MiQi</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="rock64">
		<img alt="Pine64 ROCK64" src="/images/rock64.jpg" />
		<h3>Pine64 ROCK64</h3>
		<p>Stable</p>
	</a></div>
	<div class="cb3 col col-lg-3 col-md-3 col-sm-3"><a href="rockpro64">
		<img alt="Pine64 ROCKPro64" src="/images/rockpro64.jpg" />
		<h3>Pine64 ROCKPro64</h3>
		<p>Stable</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="rpi4 col col-lg-3 col-md-3 col-sm-3"><a href="rpi4">
		<img alt="Raspberry Pi 4" src="/images/rpi4.jpg" />
		<h3>Raspberry Pi 4</h3>
		<p>Stable</p>
	</a></div>
	<div class="gpi col col-lg-3 col-md-3 col-sm-3"><a href="rpi">
		<img alt="GPICase" src="/images/gpicase.jpg" />
		<h3>Retroflag GPICase</h3>
		<p>Stable</p>
	</a></div>
	<div class="gpi col col-lg-3 col-md-3 col-sm-3"><a href="odroidgoa">
		<img alt="Odroid Go Advance" src="/images/oga.jpg" />
		<h3>Odroid Go Advance</h3>
		<p>Beta</p>
	</a></div>
	<div class="gpi col col-lg-3 col-md-3 col-sm-3"><a href="rg351p">
		<img alt="Anbernic RG351P" src="/images/rg351p.jpg" />
		<h3>Anbernic RG351P/M</h3>
		<p>Beta</p>
	</a></div>
</div>
<div class="row platforms">
	<div class="gpi col col-lg-3 col-md-3 col-sm-3"><a href="rg351v">
		<img alt="Anbernic RG351V" src="/images/rg351v.jpg" />
		<h3>Anbernic RG351V</h3>
		<p>Beta</p>
	</a></div>
</div>
