---
title: Get Lakka - PC
step: 3
previous: true
next: install
---

<h2>Download and unzip Lakka</h2>

<p>This step is independant of your OS choice, the downloaded image can be used on any OS.</p>
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>
<p>Choose one of the following images depending on your PC architecture.</p>

<%= render 'partials/dl-button', 
    :url => 'http://sources.lakka.tv/nightly/Generic.i386/Lakka-Generic.i386-devel-20150307205832-r20834-ge8d52d6.img.gz',
    :detail => 'for 32 bits CPU ~ 114MB' %>
  
<%= render 'partials/dl-button', 
    :url => 'http://sources.lakka.tv/nightly/Generic.x86_64/Lakka-Generic.x86_64-devel-20150307205641-r20834-ge8d52d6.img.gz',
    :detail => 'for 64 bits CPU ~ 116MB' %>

<p>On MacOS, you just have to double click on the downloaded archive to unzip Lakka.</p>

<p>Please note that due to the wide variety of PC hardware, Lakka may not work on your hardware. There is currently a bug on ATI cards preventing to launch games.</p>

<p>Those image are USB images, not CD or DVD images, those installation mediums are unsupported. Also, we don't support virtualization and dualboot. Lakka is meant to be installed on real hardware.</p>
