---
title: Get Lakka
step: 1
---

<h2>Welcome to the Lakka installation tutorial!</h2>

<p>We are going to guide you from the download of the right version of Lakka to the launch of a game in 6 steps.</p>

<h3>What OS are you using right now?</h3>

<p>Tell us what operating system you're using so we can adapt the installation instructions to your environment.</p>

<ul class="oses">
  <li><a href="linux">
    <img alt="GNU/Linux" src="/images/linux.png" />
    <h3>GNU/Linux</h3>
  </a></li>
  <li><a href="windows">
    <img alt="Microsoft Windows" src="/images/windows.png" />
    <h3>Windows</h3>
  </a></li>
  <li><a href="macos">
    <img alt="MacOS" src="/images/apple.png" />
    <h3>MacOS</h3>
 </a></li>
</ul>

<p>If you are stuck during the installation process, you can get support on <a href="<%= @config[:links][:discord] %>">Discord</a> or <a href="<%= @config[:links][:webchat] %>">IRC</a>.</p>

<p>You may also check out <a href="<%= @config[:devel][:'all-latest'] %>">latest development versions</a>.</p>

