<header>
 <aside class="clearer container">
  <div class="column">
   <h2>The DIY retro emulation&nbsp;console</h2>
   <p class="subtitle"><%= @config[:site_description] %></p>
   <%= link_to 'Get Lakka', '/disclaimer', :class => "getlakka" %>
  </div>
  <div class="tv">
    <video poster="/images/thumb.png" preload="auto" autoplay loop>
      <source src="/videos/menu.ogv" type="video/ogv" />
      <source src="/videos/menu.mp4" type="video/mp4" />
      <source src="/videos/menu.webm" type="video/webm" />
    </video>
  </div>
 </aside>
</header>

<section id="about" class="clearer">
  <article class="clearer">
    <i class="fa fa-bolt"></i>
    <div>
      <h3>Powerful</h3>
      <p>Built on top of the famous RetroArch emulator, Lakka is able to emulate a large range of hardware and has some useful features such as Braid-like rewinding, joypad hotplug and video streaming.</p>
    </div>
  </article>
  <article class="clearer">
    <i class="fa fa-smile-o"></i>
    <div>
      <h3>User friendly</h3>
      <p>Lakka is easy to setup and use. Once installed to your SD card, you just have to put your rom on the card, plug your joypad and enjoy your favorite old games.</p>
    </div>
  </article>
  <article class="clearer">
    <i class="fa fa-thumbs-o-up"></i>
    <div>
      <h3>Low cost</h3>
      <p>The hardware required to run Lakka cost only $35. We also support PS3 and XBox360 controllers so you don't have to buy new ones. The power can be supplied by any micro USB adapter like the one of your smartphone.</p>
    </div>
  </article>
  <article class="clearer">
    <i class="fa fa-github-alt"></i>
    <div>
      <h3>Open source</h3>
      <p>Our code is free as in freedom and hosted on Github. We accept external contributions, and we do our best to integrate our own patches into upstream projects.</p>
    </div>
  </article>
</section>

<section id="libretro" class="clearer">
  <article class="clearer">
    <a href="http://libretro.com"><img id="libretrologo" src="/images/libretro_logo.png" alt="libretro" /></a>
    <p>Lakka is the official Linux distribution of RetroArch and the libretro ecosystem.</p>
    <p>Each game system is implemented as a <em>libretro core</em>, while the frontend <em>RetroArch</em> takes care of inputs and display. This clear separation ensures modularity and centralized configuration.</p>
  </article>
</section>
