<header class="mainheader">
 <div class="container">
  <div class="row">
    <div class="col col-sm-5">
     <h1>The&nbsp;open&nbsp;source game&nbsp;console</h1>
     <h2 class="subtitle"><%= @config[:site_subtitle] %></h2>
     <%= link_to 'Get Lakka', '/disclaimer', :class => "getlakka btn btn-lg" %>
    </div>
    <div class="col col-sm-7">
      <div class="tv">
        <video poster="/images/thumb.png" preload="auto" autoplay loop>
          <source src="/videos/menuwebm.webm" type="video/webm" />
        </video>
      </div>
    </div>
  </div>
 </div>
</header>

<div id="features" class="container">
  <div class="row">
    <article class="col-sm-6">
      <div class="row">
        <div class="col col-xs-2"><i class="fa fa-bolt"></i></div>
        <div class="col col-xs-10">
          <h3>Powerful</h3>
          <p>Built on top of the famous RetroArch emulator, Lakka is able to emulate a wide variety of systems and has some useful features such as automatic joypad recognition, rewinding, netplay, and shaders.</p>
          <a class="pull-right" href="/powerful"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Learn more</a>
        </div>
      </div>
    </article>
    <article class="col-sm-6">
      <div class="row">
        <div class="col col-xs-2"><i class="fa fa-smile-o"></i></div>
        <div class="col col-xs-10">
          <h3>User friendly</h3>
          <p>Lakka is easy to setup and use. Once installed on your SD card or USB flash drive, you just have to copy your ROMs on the device, power up the rig and plug your joypad and enjoy your favorite games.</p>
          <!-- <a class="pull-right" href="#"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Learn more</a> -->
        </div>
      </div>
    </article>
  </div>
  <div class="row">
    <article class="col-sm-6">
      <div class="row">
        <div class="col col-xs-2"><i class="fa fa-thumbs-o-up"></i></div>
        <div class="col col-xs-10">
          <h3>Low cost</h3>
          <p>We try our best to keep the hardware required to run Lakka as cheap as possible. The software is optimized to run fast even on low end computers, and we support a lot of USB joypads.</p>
          <a class="pull-right" href="/lakka-is-low-cost"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Learn more</a>
        </div>
      </div>
    </article>
    <article class="col-sm-6">
      <div class="row">
        <div class="col col-xs-2"><i class="fa fa-github-alt"></i></div>
        <div class="col col-xs-10">
          <h3>Open source</h3>
          <p>Lakka is a community-driven project. Coders, designers and gamers, from all around the world, are working together to make it the Ultimate Emulation OS. Come and join us!</p>
          <a class="pull-right" href="/opensource"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Learn more</a>
        </div>
      </div>
    </article>
  </div>
</div>

<section id="rpi">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <img src="/images/pibow.jpg" alt="Raspberry Pi 3" style="width:100%">
      </div>
      <div class="col col-sm-6">
        <h2>Lakka on Raspberry Pi</h2>
        <p>Lakka is the easiest way to setup emulators on a <a rel="nofollow" href="https://www.raspberrypi.org/">Raspberry Pi</a>.</p>
        <p>The Raspberry Pi is a very affordable single board computer. It is powerful enough to emulate most retro consoles such as the Nintendo NES, the SEGA Genesis, the Sony PlayStation, or Arcade Games.</p>
        <p>Beginners can buy a Raspberry Pi with a pre-flashed NOOBS SD card online and setup Lakka using <a rel="nofollow" href="https://www.raspberrypi.org/downloads/noobs/">NOOBS</a>.</p>
        <p>There are many cases available, and with Lakka you can customize your setup to build your own video game console.</p>
      </div>
    </div>
  </div>
</section>

<section id="libretro">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <a href="https://libretro.com"><img id="libretrologo" src="/images/libretro_logo.png" alt="libretro"></a>
        <p>Lakka is the official Linux distribution of RetroArch and the libretro ecosystem.</p>
        <p>Each game system is implemented as a <em>libretro core</em>, while the frontend <em>RetroArch</em> takes care of inputs and display. This clear separation ensures modularity and centralized configuration.</p>
      </div>
      <div class="col col-sm-6">
        <img id="libeco" src="/images/libeco.png" alt="libretro ecosystem">
      </div>
    </div>
  </div>
</section>
