---
title: Get Lakka - Amlogic
step: 3
previous: true
next: install
---

<h2>Download Lakka</h2>

<p>This step is independent of your OS choice, the downloaded image can be used on any OS.</p> 
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<% @config[:release][:amlgx].each do |key, url| %>
  <%= render 'partials/dl-button',
        url: url,
        what: 'Lakka',
	detail: "for #{@config[:release_descriptions][key]}" %>
<% end %>

<p>Download links for development images:</p>

<% @config[:devel][:amlgx].each do |key, url| %>
  <%= render 'partials/dl-button',
        url: url,
        what: 'Lakka',
	detail: "for #{@config[:devel_descriptions][key]}" %>
<% end %>
