---
title: Get Lakka - Amlogic
step: 3
previous: true
next: install
---

<h2>Download Lakka</h2>

<p>This step is independent of your OS choice, the downloaded image can be used on any OS.</p> 
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<p class="dl">
  <a href="<%= @config[:release][:'amllogic.gx_generic'] %>">Download Lakka
  <span class="details">for generic Amlogic GX box</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'amllogic.g12_generic'] %>">Download Lakka
  <span class="details">for generic Amlogic G12 box</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'amllogic.gx_lepotato'] %>">Download Lakka
  <span class="details">for Le Potato</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'amllogic.gx_nanopi_k2'] %>">Download Lakka
  <span class="details">for NanoPi K2</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'amllogic.gx_odroid_c2'] %>">Download Lakka
  <span class="details">for Odroid C2</span></a>
</p>

<p>Download links for development images:</p>

<p class="dl">
  <a href="<%= @config[:devel][:'aml-gx'] %>">Download Lakka
  <span class="details">for Amlogic GX devices</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:devel][:'aml-g12'] %>">Download Lakka
  <span class="details">for Amlogic G12 devices</span></a>
</p>
