---
title: Get Lakka - PC
step: 3
previous: true
next: install
---

<h2>Download Lakka</h2>

<p>This step is independent of your OS choice, the downloaded image can be used on any OS.</p>
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>
<p>Please note that due to the wide variety of PC hardware, Lakka may not work on your hardware.</p>
<p>This image is USB image, not CD or DVD images, those installation mediums are unsupported. Also, we don't support virtualization and dualboot. Lakka is meant to be installed on real hardware.</p>

<% @config[:release][:generic].each do |key, url| %>
  <%= render 'partials/dl-button',
        url: url,
        what: 'Lakka',
	detail: "for #{@config[:release_descriptions][key]}" %>
<% end %>

<p>Download links for development images:</p>

<% @config[:devel][:generic].each do |key, url| %>
  <%= render 'partials/dl-button',
        url: url,
        what: 'Lakka',
	detail: "for #{@config[:devel_descriptions][key]}" %>
<% end %>
