---
title: Get Lakka - Odroid Go Advance
step: 3
previous: true
next: install
---

<h2>Download Lakka</h2>

<p>This step is independent of your OS choice, the downloaded image can be used on any OS.</p> 
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<p class="dl">
  <a href="<%= @config[:release][:'oga.odroidgo2'] %>">Download Lakka
  <span class="details">for Odroid Go Advance</span></a>
</p>

<p>Download links for development images:</p>

<p class="dl">
  <a href="<%= @config[:devel][:'oga'] %>">Download Lakka
  <span class="details">for Odroid Go Advance</span></a>
</p>
