---
title: Get Lakka - Rochkchip Devices
step: 3
previous: true
next: install
---

<h2>Download Lakka</h2>

<p>This step is independent of your OS choice, the downloaded image can be used on any OS.</p> 
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<h3>RK3288 Devices</h3>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.miqi'] %>">Download Lakka
  <span class="details">for Mqmaker MiQi</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.tinkerboard'] %>">Download Lakka
  <span class="details">for ASUS Tinker Board</span></a>
</p>

<h3>RK3328 Devices</h3>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_roc_cc'] %>">Download Lakka
  <span class="details">for Firefly ROC-RK3328-CC</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_rock64'] %>">Download Lakka
  <span class="details">for Popcorn Hour Transformer</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_rockbox'] %>">Download Lakka
  <span class="details">for Popcorn Hour RockBox</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_generic_trn9'] %>">Download Lakka
  <span class="details">for MVR9</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_generic_z28'] %>">Download Lakka
  <span class="details">for Z28</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3328_generic'] %>">Download Lakka
  <span class="details">for generic RK3328 box</span></a>
</p>

<h3>RK3399 Devices</h3>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_khadas_edge'] %>">Download Lakka
  <span class="details">for Khadas Edge</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_rock_pi_4'] %>">Download Lakka
  <span class="details">for Radxa ROCK Pi 4</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_rock_pi_4'] %>">Download Lakka
  <span class="details">for Radxa ROCK Pi 4</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_rock960'] %>">Download Lakka
  <span class="details">for 96rocks ROCK960</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_rockpro64'] %>">Download Lakka
  <span class="details">for PINE64 RockPro64</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:release][:'rockchip.rk3399_sapphire'] %>">Download Lakka
  <span class="details">for Sapphire Board</span></a>
</p>

<p>Download links for development images:</p>

<p class="dl">
  <a href="<%= @config[:devel][:'miqi'] %>">Download Lakka
  <span class="details">for Mqmaker MiQi</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:devel][:'tkb'] %>">Download Lakka
  <span class="details">for ASUS Tinker Board</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:devel][:'rk3328'] %>">Download Lakka
  <span class="details">for Rockchip RK3328</span></a>
</p>

<p class="dl">
  <a href="<%= @config[:devel][:'rk3399'] %>">Download Lakka
  <span class="details">for Rockchip RK3399</span></a>
</p>

