---
title: Get Lakka - S802
step: 3
previous: true
next: install
---

<h2>Download and unzip Lakka</h2>

<p>This step is independant of your OS choice, the downloaded image can be used on any OS.</p>
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<div class="row">
  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:m8] %>">Download Lakka
    <span class="details">for M8 ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:mxiii1g] %>">Download Lakka
    <span class="details">for MXIII-1G ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:s82] %>">Download Lakka
    <span class="details">for S82 ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:t8] %>">Download Lakka
    <span class="details">for T8 ~ 300MB</span></a>
  </p></div>
</div>
