---
title: Get Lakka - Orange Pi
step: 3
previous: true
next: install
---

<h2>Download and unzip Lakka</h2>

<p>This step is independant of your OS choice, the downloaded image can be used on any OS.</p>
<p>However, the image is specific to the target hardware, as its name should reflect it.</p>

<div class="row">
  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:hd18q] %>">Download Lakka
    <span class="details">for HD18Q ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:m201c] %>">Download Lakka
    <span class="details">for M201C ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:m201d] %>">Download Lakka
    <span class="details">for M201D ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:mk808bp] %>">Download Lakka
    <span class="details">for MK808B-Plus ~ 300MB</span></a>
  </p></div>

  <div class="col-sm-4"><p class="dl">
    <a href="<%= @config[:release][:mxq] %>">Download Lakka
    <span class="details">for MXQ ~ 300MB</span></a>
  </p></div>
</div>
