<footer>
  <a rel="nofollow" href="https://github.com/libretro/Lakka-LibreELEC"><i class="fab fa-github-alt"></i></a>
  <a rel="nofollow" href="https://discordapp.com/invite/27Xxm2h"><i class="fab fa-discord"></i></a>
  <a rel="nofollow" href="https://twitter.com/lakkatv"><i class="fab fa-twitter"></i></a>
  <a rel="nofollow" href="https://www.facebook.com/lakkatv"><i class="fab fa-facebook"></i></a>
  <a rel="nofollow" href="https://www.youtube.com/c/LakkaTv"><i class="fab fa-youtube"></i></a>
  <a rel="nofollow" href="http://webchat.freenode.net/?channels=%23lakkatv&uio=d4"><i class="fas fa-comments"></i></a>
</footer>
