<footer>
  <a rel="nofollow" href="<%= @config[:links][:github] %>"><i class="fab fa-github-alt"></i></a>
  <a rel="nofollow" href="<%= @config[:links][:discord] %>"><i class="fab fa-discord"></i></a>
  <a rel="nofollow" href="<%= @config[:links][:twitter] %>"><i class="fab fa-twitter"></i></a>
  <a rel="nofollow" href="<%= @config[:links][:facebook] %>"><i class="fab fa-facebook"></i></a>
  <a rel="nofollow" href="<%= @config[:links][:youtube] %>"><i class="fab fa-youtube"></i></a>
  <a rel="nofollow" href="<%= @config[:links][:webchat] %>"><i class="fas fa-comments"></i></a>
</footer>
