<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img alt="Lakka" class="lakka-logo" src="/images/lakka-logo.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Get', '/disclaimer/' %></li>
      <li><%= link_to 'News', '/articles/' %></li>
      <li><%= link_to 'Forum', @config[:links][:forum] %></li>
      <li><%= link_to 'FAQ', '/doc/FAQ/' %></li>
      <li><%= link_to 'Doc', '/doc/Home/' %></li>
      <li><%= link_to 'About', '/about/' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- <div class="text-center" style="background-color: #c0392b; margin: 0px !important;">
  <p style="padding: 10px; margin-bottom: 0px !important; color: #fff;"><strong>Warning</strong><br>An internal error caused all of Lakka's release images to be deleted from our servers (404 error).<br>Please use the <a href="http://nightly.builds.lakka.tv/" target="_blank">nightlies</a> while we work on fixing this issue.<br>The Lakka team is sorry for the inconvenience.</p>
</div> -->
