  <div id="menubar">
    <h1><a href="/"><img src="/images/lakka-logo.png" alt="Lakka's logo, represent a berry : the cloudberry" /></a></h1>
    <nav>
      <ul>
        <li><%= link_to 'Get', '/get' %></li>
        <li><%= link_to 'News', '/articles' %></li>
        <li><%= link_to 'Forum', 'http://libretro.com/forums/forums/26-Lakka-TV-General' %></li>
        <li><%= link_to 'FAQ', '/doc/FAQ' %></li>
        <li><%= link_to 'Documentation', '/doc/Home' %></li>
        <li><%= link_to 'About', '/about' %></li>
        <li><%= link_to 'Contact', '/contact' %></li>
      </ul>
    </nav>
  </div>
