<h2>Setup Lakka on the PC</h2>

<p>Follow the following steps:</p>

<ol>
  <li>Plug the USB installer in the PC you want to setup</li>
  <li>Wire your PC to a screen or TV</li>
  <li>Light your screen or TV</li>
  <li>Plug an ethernet wire (optional)</li>
  <li>Plug one of the supported joypads in one of your PC USB ports</li>
  <li>Power your PC</li>
  <li>Enter BIOS and allow USB boot (optional)</li>
</ol>

<p>You should see our bootloader screen:</p>

<p><img src="/images/syslinux.png" /></p>

<p>Choosing <em>Run Live</em> will run Lakka as a persistent live USB pen. You will be able to check if Lakka works on your hardware, without altering your PC hard drive or partitions. You can keep your USB pen and boot it on several PCs around you, it will keep you ROMs and your saves as expected. But it's not the subject of this tutorial.</p>

<p>To setup Lakka on your target PC, choose <em>Run Installer</em>.</p>

<p>Our splash screen will shortly appear:</p>

<p><img src="/images/splash.png" /></p>

<p>Followed by the installation wizzard..</p>

<p><img src="/images/installer1.png" /></p>

<p>Choose <em>Quick Install</em>.</p>

<p><img src="/images/installer2.png" /></p>

<p>The installer will list your hard drives. On a typical HTPC or NUC you should have only one.</p>

<p><img src="/images/installer3.png" /></p>

<p>The installer will now copy the files to your target hard drive.</p>

<p><img src="/images/installer4.png" /></p>

<p>At the end of this process, you will be asked to reboot. Choose <em>Reboot</em> and unplug your USB drive before it boots.</p>

<p>The system will expand the filesystems and reboot after 30 seconds. This happens only on the first boot. The system will automatically reboot and this time it should be fast.</p>

<p>If everything went OK, you should now be able to navigate RGUI, the interface of RetroArch:</p>

<p><img src="/images/rgui.png" /></p>

<p>Congratulations, you have successfully installed Lakka!</p>

<p>You can now proceed to the final step.</p>
