<h2>First boot</h2>

<p>Follow the following steps:</p>

<ol>
  <li>Put the SD card in the Raspberry Pi</li>
  <li>Put an HDMI wire between your Raspberry and your TV</li>
  <li>Light your TV screen</li>
  <li>Plug an ethernet wire (optional)</li>
  <li>Plug one of the supported joypads in one of the 2 Raspberry Pi USB ports</li>
  <li>Plug the power supply of the Raspberry Pi</li>
</ol>

<p>You should see our splash screen:</p>

<p><img src="/images/splash.png" /></p>

<p>The system will expand the filesystems and reboot after 30 seconds. This happens only on the first boot, the next one should be fast.</p>

<p>If everything went OK, you should now be able to navigate RGUI, the interface of RetroArch:</p>

<p><img src="/images/rgui.png" /></p>

<p>Congratulations, you have successfully installed Lakka!</p>

<p>You can now proceed to the final step.</p>
