<h2>Adding and launching a game</h2>

<h3>Adding a game using network share</h3>

<p>Your Lakka Box and your Computer must be connected on the same Network. Please use an Ethernet wire for the Lakka Box, as we don't support WiFi yet.</p>

<p>Open your File Browser.</p>

<p>In the left column, you should see a <em>Network</em> icon:</p>

<p><img alt="Share" src="/images/winsamba1.png" /></p>

<p>Unfold this Network icon, and see if <em>Lakka</em> shows up.</p>

<p>If Lakka is there, clicking on it will lead you to a list of folders:</p>

<p><img alt="Share" src="/images/winsamba2.png" /></p>

<p>Copy your games under the <em>roms</em> folder. This step can take some time, as the games are transfered to the Lakka Box through your local network.</p>

<h3>Launching a game</h3>

<p>Using your joypad, go to the <em>Load Content (Detect Core)</em> entry:</p>

<p><img alt="Content" src="/images/rguiloadcontent.png" /></p>

<p>You should now be able to browse your ROM collection:</p>

<p><img alt="Roms" src="/images/rguifindrom.png" /></p>

<p>The game should be starting:</p>

<p><img alt="Game start" src="/images/rguiromlaunched.png" /></p>

<p>If you need more informations on how RGUI works, please refer to <a href="https://github.com/libretro/RetroArch/wiki/RGUI">RetroArch Wiki</a></p>

<p>Happy gaming!</p>
