<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta name="author" content="Floréal Toumikian, Zacharie Juillard" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="robots" content="index,follow" />
  
  <link rel="stylesheet" href="/stylesheet.css" />
  
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="favicon/favicon.ico" />
  <link rel="icon" type="image/jpg" href="favicon/favicon.jpg" />
  <link rel="icon" type="image/png" href="favicon/favicon.png" />
  <link rel="icon" type="image/gif" href="favicon/favicon.gif" />
  <link rel="apple-touch-icon" href="favicon/favicon.png" />
  
  <title><%= @item[:title] %></title>
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
 </head>

  <body>
   <div id="content">
    <header>
     <h1>Lakka-News</h1>
    </header>

    <nav>
     <ul><li href="">Accueil</li><li href="">Archives</li></ul>
    </nav>

    <section>
     <%= yield %>
    </section>
    
    <footer>
      <ul><li href="">Mentions légales</li><li href="">Licences</li></ul>
    </footer>
   </div>
  </body>
</html>
