<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="<%= @config[:site_description] %>" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link href='/css/fonts.css' rel='stylesheet' type='text/css'>
  <script src="https://kit.fontawesome.com/08af3cb5ef.js" crossorigin="anonymous"></script>

  <link rel="icon" type="image/png" href="/images/fav64.png" />
  <link rel="apple-touch-icon" href="/images/fav64.png" />
  
  <title>Lakka - <%= item[:title] %></title>
  <script data-ad-client="ca-pub-9447404270680650" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
 
<body>
  <%= render 'partials/menu' %>
  <div class='container'>
    <%= yield %>
  </div> 
  <%= render 'partials/footer' %>
</body>
</html>
