/* Layout */

body.doc > .container {
    color: #2C3E50;
    max-width: 900px;
    margin: 60px auto;
}

body.doc > .container h1 {
    float: none;
    width: 100%;
    font-size: 40px;
}

body.doc h2 {
    font-size: 30px;
}

body.doc h3 {
    font-size: 20px;
}

body.doc p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    margin: 25px 0;
}

pre code {
  color: #2ecc71;
  background: #2c3e50;
  display: block;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

body.blog p {
    font-size: 16px;
}