/* Layout */

body.doc > .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

body.page > .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

body.doc > .container h1 {
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

body.doc h2 {
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

body.doc h3 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

body.doc table {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border-collapse: collapse;
    margin: 25px 0;
}

body.doc table th {
    padding: 20px 10px;
    border-bottom: 4px solid #45b1be;
    text-align: left;
}

body.doc table td {
    padding: 10px;
}

body.doc table tr:nth-child(odd) td {
    background: #ecf0f1;
}

body.doc table img {
    max-width: 50px;
}

body.doc p img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

body.doc ul.articles {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

body.doc .breadcrumb {
    background: white;
    padding: 8px;
    border-radius: 8px;
    margin: 16px 0;
}

body.doc .images img {
    display: inline;
    margin-right: 16px;
}

body.doc img.boxart {
    width: 100%;
}

body.doc .sidemenu ul {
    padding: 0;
}


body.doc .sidemenu li {
    list-style: none;
}

body.doc .sidemenu li a {
    display: block;
    padding: 7px;
    border-radius: 3px;
}

body.doc .sidemenu li li a {
    padding-left: 40px;
}

body.doc .sidemenu li a:hover {
    background-color: #45b1be;
    color: white;
    text-decoration: none;
}

body.page a.card {
    margin: 15px 0;
    outline: solid 1px #ccc;
    display: block;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

body.page a.card:hover {
    text-decoration: none;
    outline: solid 3px #45b1be;
}

body.page .card h4 {
    padding: 10px;
    display: block;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

body.page .card .article-infos {
    padding: 10px;
}

body.page .socialthumb {
    width: 100%;
    height: 240px;
}

/* Page */

.systemcard, .hwcard {
    background: #ecf0f1;
    border-radius: 5px;
    margin: 15px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

.systemcard img {
    width: 64px;
    padding: 5px;
    margin-right: 10px;
    background: #b34644;
}

.hwcard img {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}

.featurecard {
    background: #ecf0f1;
    border-radius: 5px;
    margin: 15px 0;
    color: rgb(51, 51, 51);
    overflow: hidden;
}

.featurecard img {
    width: 100%;
}
