@charset "utf-8";
/*authors : Jean-André Santoni, Morgane Alonso, Zacharie Juillard*/

/* -------------------- general -------------------- */

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  background-color: #ecf0f1;
  min-height: 100%;
}

iframe {
  border: 0;
}

.clearer:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a {
  color: #2980b9;
  text-decoration: none;
}

pre {
    margin: 25px 0;
}

pre code {
  color: #2ecc71;
  background: #2c3e50;
  display: block;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow-x: auto;
}

p, li, code {
  line-height: 1.5em;
}

/* -------------------- banner -------------------- */

header {
  color: white;
  background-color: #1abc9c;
}

#menubar {
  height: 60px;
  background-color: #354B60;
}

h1 {
  display: inline-block;
  margin: 0px;
  height: 60px;
  font-size: 30px;
  float: left;
}

h1 img {
  height: 60px;
}

header h2 {
  font-size: 60px;
  margin-bottom: 0;
}

header a.getlakka {
  background-color: #354B60;
  color: white;
  padding: 15px 30px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  border-radius: 4px;
}

header .subtitle {
  font-size: 35px;
  line-height: normal;
}

#menubar nav {
  float: right;
}

#menubar nav ul {
  margin: 0px;
  padding: 0px;
}

#menubar nav li {
  display: inline-block;
  line-height: 60px;
}

#menubar nav li a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.column {
  float: left;
  width: 45%;
}

header .column {
  padding-top: 110px;
}

.tv {
  margin-top: 235px;
  float: right;
  background-image: url("../images/tv.png");
  background-size: 100%;
  width: 600px;
  height: 420px;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.tv video {
  margin-top: 20px;
  margin-left: 36px;
  background-color: #9b59b6;
  width: 544px;
  height: 320px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-fill-mode: forwards;
  -moz-animation-duration: 1s;
  -ms-animation: fadeIn ease-in 1;
  -ms-animation-fill-mode: forwards;
  -ms-animation-duration: 1s;
  -o-animation: fadeIn ease-in 1;
  -o-animation-fill-mode: forwards;
  -o-animation-duration: 1s;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

/* -------------------- menu -------------------- */

/* -------------------- content -------------------- */

section#about {
  padding: 60px 0;
  width: 1240px;
  margin: 0 auto;
}

section#about article {
  width: 580px;
  float: left;
  padding: 20px;
}

section#about article i {
  display: block;
  float: left;
  width: 80px;
  height: 100px;
  padding-right: 20px;
  font-size: 80px;
  text-align: center;
  color: #bdc3c7;
}

section#about article div {
  float: left;
  width: 480px;
}

section#about article h3 {
  color: #1abc9c;
  font-size: 30px;
}

section#about article p {
  color: #7f8c8d;
}

section#libretro {
  background-color: #2c3e50;
  background-image: url("../images/libeco.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-origin: content-box;
  padding: 100px 120px;
}

section#libretro article {
  float: left;
  width: 512px;
  color: white;
}

section#libretro article #libretrologo {
  width: 350px;
  margin-bottom: 30px;
}

section#libretro article p {
  font-size: 24px;
}


#clouds {
  background-color: #3498db;
  background-image: url("../images/form_background.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 960px 220px;
  height: 100%;
}

#contact{
  padding-top: 60px;
  background-image: url("../images/form_paperplane2.png");
  background-repeat: no-repeat;
  background-position: top right;

  background-origin: content-box;
}

#contact form {
  display: block;
  float: left;
  width: 540px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

#contact textarea, #contact input {
  -webkit-appearance: none;
  display: block;
  outline: none;
  width: 476px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color:white;
  font-family: 'Asap', sans-serif;
  font-size: 20px;
  resize: none;
  transition: border-color 0.5s;
}

#contact input[type="submit"]{
  width: 500px;
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
  transition: background-color 0.5s;
}

#contact textarea:focus, #contact input:focus {
  border-color: #1abc9c;
}

#contact input[type="submit"]:hover {
  background-color: #48c9b0;
  border-color: #48c9b0;
}

/* Download button */

p.dl {
  text-align: center;
}

p.dl a {
  background-color: #1abc9c;
  color: white;
  padding: 15px 30px;
  display: inline-block;
  margin: 10px auto;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  border-radius: 4px;
}

p.dl a span.details {
  display: block;
  font-size: small;
}

.article-infos {
    color: #8c9899;
}

/* Tags */

ul.tags {
  padding: 0;
}

li.tag {
  font-size: 13px;
  border-radius: 4px;
  list-style-type: none;
  display: inline-block;
  background-color: #1abc9c;
  margin: 5px 10px 5px 0;
  padding: 8px 16px;
}

li.tag a {
  color: #fff;
}

/* -------------------- footer -------------------- */

footer {
  background: #2c3e50;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}

footer a {
  color: #ecf0f1;
}

footer a:hover {
  color: #2980b9;
}
