.oses {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav.wizzard.step1 {
    background-image: url('/images/step1.png');
}

nav.wizzard.step2 {
    background-image: url('/images/step2.png');
}

nav.wizzard.step3 {
    background-image: url('/images/step3.png');
}

nav.wizzard.step4 {
    background-image: url('/images/step4.png');
}

nav.wizzard.step5 {
    background-image: url('/images/step5.png');
}

nav.wizzard.step6 {
    background-image: url('/images/step6.png');
}

nav.wizzard {
    background: none no-repeat scroll 50% center #BDC3C7;
    height: 68px;
}

nav.wizzard.step1 {
    background-image: url('../images/step1.png');
}

.oses li {
    display: inline-block;
    background: none repeat scroll 0% 0% #FFF;
    margin: 0px 20px;
}

body.wizzard .oses img {
    max-width: 100%;
}

body.wizzard > .container {
    color: #2C3E50;
    margin: 60px auto
}

body.wizzard h2 {
    font-size: 40px;
}

body.wizzard h3 {
    font-size: 30px;
}

a.next, a.previous {
    background-color: #1ABC9C;
    color: #FFF;
    padding: 15px 30px;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

a.previous {
    float: left;
}

a.next {
    float: right;
}

.oses li a {
    width: 200px;
    display: block;
    text-decoration: none;
    color: #2C3E50;
    outline: 1px solid #BDC3C7;
    padding: 10px;
}

.oses li a:hover {
    outline: 3px solid #1ABC9C;
}

.platforms {
    width: 1260px;
    padding: 0px;
    margin: 15px -15px;
}

.platforms li a {
    display: block;
    text-decoration: none;
    color: #2C3E50;
    outline: 1px solid #BDC3C7;
    padding-bottom: 10px;
}

.platforms li a:hover {
    outline: 3px solid #1ABC9C;
}
