/* Layout */

body.wizzard > .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

body.wizzard h2 {
  font-size: 40px;
}

body.wizzard h3 {
  font-size: 20px;
}

/* Navigation */

nav.wizzard.step1 { background-image: url("../images/step1.png"); }
nav.wizzard.step2 { background-image: url("../images/step2.png"); }
nav.wizzard.step3 { background-image: url("../images/step3.png"); }
nav.wizzard.step4 { background-image: url("../images/step4.png"); }
nav.wizzard.step5 { background-image: url("../images/step5.png"); }
nav.wizzard.step6 { background-image: url("../images/step6.png"); }

nav.wizzard {
  background: none no-repeat scroll 50% center #ecf0f1;
  background-size: auto 30px;
  height: 50px;
}

a.next.disabled, a.previous.disabled {
  background-color: #7f8c8d;
  cursor: default;
}

/* OS choice */

.oses {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.oses img {
    max-width: 100%;
}

.oses li {
    display: inline-block;
    background: none repeat scroll 0% 0% #FFF;
    margin: 20px;
}

.oses li a {
    width: 200px;
    display: block;
    text-decoration: none;
    color: #2C3E50;
    outline: 1px solid #BDC3C7;
    padding: 10px;
}

.oses li a:hover {
    outline: 3px solid #45b1be;
}

/* Platform choice */

.platforms .col a {

  display: block;
  text-decoration: none;
  color: #2c3e50;
  outline: 1px solid #bdc3c7;
  padding-bottom: 10px;
  margin: 20px auto;
}
.platforms .col a:hover {
  outline: 3px solid #45b1be;
}
.platforms .col.disabled a:hover {
  outline: 1px solid #bdc3c7;
  cursor: default;
}

.platforms .col img {
  width: 100%;
}

.platforms .col h3 {
  font-weight: bold;
}

.platforms .col h3, .platforms .col p {
  padding: 0 20px;
}

.plaforms .col.disabled h3 {
  color: #bdc3c7 !important;
}

